@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;

}


body{
  margin: 0;
height: 2000px;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}
ul, li{
  /* list-style: none = ul의 동그라미 제거 */
  list-style: none;
  margin: 0;
  padding: 0;
}
/* 위쪽 css 초기 reset css */

/* footer 제일 큰 박스 */
footer{
  width: 100%;
  height: 400px;
  background: rgb(244, 247, 247);
}

/* footer 내부 큰 박스 */
footer div.main{
  width: 80%;
  margin: 0 auto;
}
footer div.main section.main-footer{
  display: flex;
 
  padding-top: 20px;
}

footer div.main section .main-footer-left{
  width: 90%;
}

footer div.main section .main-footer-left p{
 
  padding-bottom: 20px;
  
}
footer div.main section .main-footer-left li{
  
  font-size: 1.2rem;
  line-height: 30px;
}
footer div.main section .main-footer-left li p{
  font-weight: 700;
  display: inline;
}
footer div.main section .main-footer-right{
  width: 30%;
  display: flex;
  flex-direction: column;
  
}
footer div.main section .main-footer-right ul{

}
footer div.main section .main-footer-right ul li{
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 30px;
  cursor: pointer;
  width: fit-content;
  transition: 1s;
  
  
}
footer div.main section .main-footer-right ul li:hover{
  background: #a8c0f3;
  box-sizing: content-box;
  
}
footer div.main section .main-footer-right div{
  padding-top: 40px;
}

footer div.main nav.footer-bottom{
  color: #555555;
  display: flex;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #d8d8d8;
}
footer div.main nav.footer-bottom ul{
  display: flex;
  width: 65%;
  padding-bottom: 30px;
}
footer div.main nav.footer-bottom ul li.underline{
  text-decoration: underline;
  color: #003675;
  font-weight: 700;
}
footer div.main nav.footer-bottom ul li.underline:hover{
  color: #555555;
}
footer div.main nav.footer-bottom ul li{
  margin-right: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  
}

footer div.main p.footer-bottom-b{
  width: 98%;
  background: #fff;
  display: flex;
  margin-left: 10px;  
  margin: 0 auto;
  padding: 20px;
}
footer div.main p.footer-bottom-b img{
  width: 80px;
  margin-right: 10px;
  padding-left: 10px;
  
  
}